body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.traffic-light{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 231, 229);
  border: solid 0.2rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.red, .green, .yellow{
  width: 6rem;
  height: 6rem;
  margin: 1rem;
  border-radius: 4rem;
  border: solid 0.01rem;
  background-color: black;
}

.timer{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

input{
  border: none;
  width: 2rem;
  text-align: center;
  font-size: 1.15rem;
  font-weight: 600;
}
